body {
    color: white;
    font-family: OCR A Std, monospace;
    background: rgb(4, 15, 31);
    margin: 0;
    padding: 0%;
}

/*ohome, contato e quemsomosnos*/

html, body {
    width: 100%;
    overflow-x: hidden; /* Adicionando isso aqui para garantir */
}

/*ohome, contato e quemsomosnos*/

* {
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    width: 100%;
    box-shadow: 0px 3px 10px #000000;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    z-index: 3;
    background: linear-gradient(90deg, rgba(124,4,166,1) 0%, rgba(46,41,173,1) 29%, rgba(30,30,179,1) 39%, rgba(14,13,111,1) 58%, rgba(0,0,0,1) 100%);
}

.nav-list{
    list-style: none;
    display: flex;
    box-sizing: border-box;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 2;
}

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 40vw;
      height: 52vh;
      background: linear-gradient(90deg, rgba(14,13,111,1) 58%, rgba(0,0,0,1) 100%);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 2;
      box-sizing: border-box;
    }

    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

h1 {
    margin-top: 10%;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    color: rgb(4, 15, 31);
    align-items: center;
    font-size: calc(2rem + 2vw);
    background: linear-gradient(90deg, rgb(201, 2, 191), #a318ff, rgb(17, 0, 255), rgb(0, 140, 255), rgb(111, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-stroke: .04em transparent;
    text-align: center;
}

h2{
    font-family: OCR A Std, monospace;
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    text-align: justify;
    margin-left: 10%;
    margin-right: 10%;
}

 .fotoperfil {
    height: 300px;
    width: 300px;
    z-index: 1;
 }

main{
    text-align: center;
    background-image: url(./img/img/espaco.jpeg);
}

.caixa{
    position: relative;
    height: 315px;
    width: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    margin-bottom: 5%;
    z-index: 0;
 }

.content::before, .caixa::after {
    content: '';
    position: absolute;
    width: calc(100% + 5px);
    height: calc(100% + 5px);
    background: linear-gradient(45deg, #1100ff, #0051ff, #0004ff, #001aff, #a200ff, #d610d6, #a200ff, #2f00ff, #0011ff, #1100ff, #a200ff, #1100ff);
    z-index: 0;
    background-size: 300%;
    border-radius: 2%;
    animation: AnimarBorda 6s Linear infinite;
}

@keyframes AnimarBorda {
    0% {
       background-position: 0;
    }
       100% {
          background-position: 300%;
    }
 }
 
 .caixa::after{
    filter: blur(50px);
}

.marginimg{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

h3{
    color: rgb(255, 255, 255);
    font-family: OCR A Std, monospace;
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 1;
    background-color: black;
}

.espaco {
    width: 100%;
    mask-image: linear-gradient(to bottom, transparent 1%, black 20%);
    background-image: url(./img/img/espaco.jpeg);
    z-index: -1;
}

.mescla-texto {
    position: absolute;
    margin-top: -120%;
}

@media (min-width: 768px) {
    img{
      margin-top: 0%;
    }

    h2{
      margin-bottom: -15%;
      z-index: 3;
    }

    .mescla-texto {
      z-index: 0;
  }
}
