body {
    color: white;
    font-family: OCR A Std, monospace;
    background: rgb(26, 26, 26);
    margin: 0;
    margin-top:50px;
}

/*ohome, contato e quemsomosnos*/

nav {
    position: fixed;
    top: 0;
    width: 100%; 
    z-index: 1000;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 1.6%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
}

.gradiente {
    background: linear-gradient(90deg, rgba(124,4,166,1) 0%, rgba(46,41,173,1) 29%, rgba(30,30,179,1) 39%, rgba(14,13,111,1) 58%, rgba(0,0,0,1) 100%);
}

a {
    color: white;
    text-decoration: none;
}

/*foto e escrita cosmovortex*/

#fotoescrita{
    display: grid;
    grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
    gap: 2rem; /* Espaçamento entre as colunas */
    align-items: center; /* Alinha verticalmente os itens */
    justify-items: center; /* Centraliza horizontalmente os itens */
}

@media (max-width: 768px) {
    #fotoescrita {
        grid-template-columns: 1fr; /* Uma coluna (empilha o texto e a imagem) */
        text-align: center;
    }
}

header{
    margin-top: -3%;
}

.fundo{
    background-image: url(./img/img/wallpaper.jpeg);
    z-index: -1;
    height: 100%;
    width: 100%;
}

header img {
    max-width: 10%;
    max-height: 10%;
    border-radius: 15%;
    max-width: 80%;
    z-index: 1;
    margin: 0; /* Remove margens laterais */
    text-align: center;
}

header .caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
    z-index: 0;
 }
 
 header h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(0, 11, 167);
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: calc(3.5rem + 2vw);
    letter-spacing: 1.5rem;
    margin-left: 2%;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
 }

 header h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgb(248, 248, 255);
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: calc(3.5rem + 2vw);
    letter-spacing: 0.7rem;
    margin-top: -13%;
    text-shadow: 2px 2px 15px rgba(0, 0, 0, 0.7);
 }

 /*faz img ficar com borda curvada*/

.border{
    border-radius: 15%;
}

/*caixa que ficara na foto do cosmovortex
e voce pode add em qualquer elemento*/

.caixa{
    position: relative;
    padding: 0%;
    border-radius: 15%;
    justify-content: center;
 }
 .caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(80% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #1100ff, #0051ff, #0004ff, #001aff, #a200ff, #d610d6, #a200ff, #2f00ff, #0011ff, #1100ff, #a200ff, #1100ff);
    background-size: 300%;
    border-radius: 15%;
    animation: AnimarBorda 6s Linear infinite;
 }
 
 @keyframes AnimarBorda {
    0% {
       background-position: 0;
    }
       100% {
          background-position: 300%;
    }
 }
 
 .caixa::after{
    filter: blur(50px);
 }

 /*subtitulo*/

h2{
    margin-top: 12%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    margin-top: 12%;
    font-size: 1.2rem;
}

/*botao*/

button {
    background-color: #551A8B;
    color: white;
    border: none;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin-bottom: 2%;
    font-size: 1.25rem;
 }

 #sobre {
    aspect-ratio: 16 / 9;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #e100ff;
    display: none;
    background-image: url(./img/img/resumo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imgresumo img {
   max-width: 100%;
   height: auto;
   object-fit: contain;
}

/*centro de tudo*/

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*degrade*/

.espaco {
     width: 100%;
     mask-image: linear-gradient(to bottom, transparent 1%, black 20%);
     background-image: url(./img/img/espaco.jpeg);
 }


.mescla-texto {
    position: absolute;
    margin-top: -120%;
    margin-left: 5%;
    margin-right: 5%;
    color: white;
    font-size: 1.7rem;
    font-weight: bold;
    text-align: center;
}

h4 {
    font-size: 1.3rem;
}
