@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



body {
    color: white;
    font-family: OCR A Std, monospace;
    background: rgb(4, 15, 31);
    margin: 0;
    padding: 0%;
}

/*ohome, contato e quemsomosnos*/
a{
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav {
    box-shadow: 0px 3px 10px #000000;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    z-index: 3;
    background: linear-gradient(90deg, rgba(124,4,166,1) 0%, rgba(46,41,173,1) 29%, rgba(30,30,179,1) 39%, rgba(14,13,111,1) 58%, rgba(0,0,0,1) 100%);
}

.nav-list{
    list-style: none;
    display: flex;
    margin-top: -3;
}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;
    z-index: 2;
}

.mobile-menu {
    display: none;
    cursor: pointer;
  }
  
  .mobile-menu div {
    width: 32px;
    height: 2px;
    background: #fff;
    margin: 8px;
    transition: 0.3s;
  }

  @media (max-width: 999px) {
    body {
      overflow-x: hidden;
    }
    .nav-list {
      position: absolute;
      top: 8vh;
      right: 0;
      width: 40vw;
      height: 52vh;
      background: linear-gradient(90deg, rgba(14,13,111,1) 58%, rgba(0,0,0,1) 100%);
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 2;
    }
    .nav-list li {
      margin-left: 0;
      opacity: 0;
    }
    .mobile-menu {
      display: block;
    }
  }
  
  .nav-list.active {
    transform: translateX(0);
  }
  
  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .mobile-menu.active .line1 {
    transform: rotate(-45deg) translate(-8px, 8px);
  }
  
  .mobile-menu.active .line2 {
    opacity: 0;
  }
  
  .mobile-menu.active .line3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  
/*foto e escrita cosmovortex*/

#fotoescrita{
    display: grid;
    position: relative;
    grid-template-columns: 1fr 1fr; /* Duas colunas de tamanho igual */
    gap: 2rem; /* Espaçamento entre as colunas */
    align-items: center; /* Alinha verticalmente os itens */
    justify-items: center; /* Centraliza horizontalmente os itens */
    margin-top: 5%;
    z-index: 1;
}

@media (max-width: 768px) {
    #fotoescrita {
        grid-template-columns: 1fr; /* Uma coluna (empilha o texto e a imagem) */
        text-align: center;
    }
}



section img {
    max-height: 80%;
    border-radius: 15%;
    max-width: 80%;
    z-index: 0;
    margin: 0;
    text-align: center;
}

.caixa {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: right;
 }
 
section h1 {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    text-align: left;
    letter-spacing: 5px;
    color: rgb(4, 15, 31);
    margin-left: 5%;
    align-items: center;
    font-size: 10vw;
    background: linear-gradient(90deg, rgb(201, 2, 191), #a318ff, rgb(17, 0, 255), rgb(0, 140, 255), rgb(111, 0, 255));
    -webkit-background-clip: text;
    -webkit-text-stroke: .04em transparent;
 }

 @media (max-width: 768px) {
    section h1 {
        font-size: 15vw; /* Ajuste o tamanho da fonte para dispositivos móveis */
    }
}

 /*faz img ficar com borda curvada*/

.border{
    border-radius: 15%;
}

/*caixa que ficara na foto do cosmovortex
e voce pode add em qualquer elemento*/

.caixa{
    position: relative;
    padding: 0%;
    border-radius: 15%;
    justify-content: center;
 }
 .caixa::before, .caixa::after {
    content: '';
    position: absolute;
    z-index: -1;
    width: calc(80% + 20px);
    height: calc(100% + 20px);
    background: linear-gradient(45deg, #1100ff, #0051ff, #0004ff, #001aff, #a200ff, #d610d6, #a200ff, #2f00ff, #0011ff, #1100ff, #a200ff, #1100ff);
    background-size: 300%;
    border-radius: 15%;
    animation: AnimarBorda 6s Linear infinite;
 }
 
 @keyframes AnimarBorda {
    0% {
       background-position: 0;
    }
       100% {
          background-position: 300%;
    }
 }
 
 .caixa::after{
    filter: blur(50px);
 }

 /*subtitulo*/

h2{
    margin-top: 15%;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

h3 {
    margin-top: 12%;
    font-size: 1.5rem;
}

/*botao*/

button {
    background-color: #551A8B;
    color: white;
    border: none;
    padding: 1.25rem 2.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    justify-content: center;
    margin-bottom: 2%;
    font-size: 1.25rem;
}

 #sobre {
    aspect-ratio: 16 / 9;
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #e100ff;
    display: none;
    background-image: url(./img/img/resumo.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.imgresumo img {
   max-width: 100%;
   height: auto;
   object-fit: contain;
}

/*botao formulario*/



/*botao saiba mais formulario*/

 #porquepesquisa {
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 2px solid #7700ff;
    color: #bcbbbc;
    background-color: #000000;
    display: none;
}

/*botao de conquista*/

#conquistas {
    padding: 2%;
    margin-left: 5%;
    margin-right: 5%;
    border: 1px solid #7700ff;
    color: #bcbbbc;
    background-color: #000000;
    display: none;
}

/*centro de tudo*/

.center {
    align-items: center;
    justify-content: center;
    text-align: center;
}

/*degrade*/

.espaco {
     width: 100%;
     mask-image: linear-gradient(to bottom, transparent 1%, black 20%);
     background-image: url(./img/img/espaco.jpeg);
 }


.mescla-texto {
    position: absolute;
    margin-top: -120%;
    margin-left: 5%;
    margin-right: 5%;
    color: white; /* Cor do texto */
    font-size: 1.7rem; /* Tamanho da fonte */
    font-weight: bold;
    text-align: center; /* Centraliza o texto */
    justify-content: center;
}

h4 {
    font-weight: bold;
    font-size: 70%;
    margin-top: 15%;
    margin-bottom: 2%;
}

h5{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-size: 2.2rem;
    text-shadow: 3px 3px 60px rgba(255, 255, 255, 0.5);
}

/*fundo espaco*/

.fundoespaco{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco2{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco3{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco4{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco5{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco6{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco7{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco8{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco9{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

.fundoespaco10{
    background-image: url(./img/img/espaco.jpeg); /* Coloque aqui o caminho da imagem de fundo */
    background-size: cover; /* Faz com que a imagem cubra toda a área do container */
    background-position: center; /* Centraliza a imagem */
    background-repeat: repeat-y;
    padding: 100px;
    display: block; /* Garante que a div se comporte como um bloco */
    margin: 0;
    margin-top: -2%;
}

h6{
    text-align: left;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 ratio */
    height: 0;
    overflow: hidden;
    max-width: 100%; /* Para limitar o tamanho máximo */
    background: #000; /* Fundo preto enquanto carrega */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
